<!DOCTYPE html>
<html>
    <head>
        <title>SoundWave</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div id="landing-header">
        <img alt =" " src = "https://i.pinimg.com/originals/e7/a2/14/e7a214ad811bddd8f78dd4272af04112.png">
 		<h1>Welcome to SoundWave Music Store!</h1>
		<a href="/musiclist" class="btn btn-lg btn-primary">Browse Albums</a>
    <a href="/routelist" class="btn btn-lg btn-success">View Route Design</a>
    </div>


<% include partials/footer %>
