<% include ./partials/header %>

<div class="container">

<form action="/login" method="POST" class="form-horizontal">
  <h1 class = "fomr-signin-heading">Login!</h1>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Username</label>
        <div class="col-xs-10">
            <input type="text" name="username" placeholder="username" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="control-label col-xs-2">Password</label>
        <div class="col-xs-10">
            <input type="password" name="password" placeholder="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <input class = "btn btn-lg btn-primary" type="submit" value="Login!">
        </div>
    </div>
</form>

</div>



<% include ./partials/footer %>
