#search-bar {
  margin-top: 5px;
}
.thumbnail img{
    width: 100%;
    height: 200px;
}

.thumbnail_original{
  /* width: 100%; */
    object-fit: contain;
    width: 100%;
    height: auto;
}


.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.checked {
    color: orange;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
