<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To SoundWave Music Store!</h1>
            <p>View our music albums from various artists!</p>
            <!-- Search bar -->
            <form class="form-inline" action="/musiclist" method="GET">
              <div class="form-group has-feedback">
                <label for="search"></label>
                <input class="form-control" type="text" name="search" placeholder="Search albums" autocomplete="off" />

                <input class="btn btn-secondary btn-large" type="submit" name="button" value="Search">
              </div>

            </form>
            <hr class="inverted">
            <% if (is_admin === 'Y') { %>
              <p>
                  <a class="btn btn-primary btn-large" href="/musiclist/new">Add New Music Albums</a>
              </p>
            <% } %>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
          <% if (noMatch !== null) {%>
            <div class="col-md-12">
              <h4><%= noMatch %></h4>
            </div>
          <% } %>
        <% musiclist.forEach(function(musiclist){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= musiclist.image %>">
                <div class="caption">
                    <h4><%= musiclist.title %></h4>
                </div>
                <p>
                    <a href="/musiclist/<%= musiclist.id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>
